.top-movies {
  &__movie-wrapper {
    display: flex;
  }

  &__poster {
    width: 182px;

    @media (max-width: 500px) {
      width: auto;
      height: 220px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
  }

  &__title {
    margin-right: 25px;
    font-size: 20px;
    color: #ffffff;

    span {
      color: #949494;
    }
  }

  &__info-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    font-size: 16px;

    &.__directors,
    &.__genre {
      flex-direction: column;

      .top-movies__item-value {
        width: fit-content;
        margin-top: 5px;
        color: #949494;
        text-decoration: none;
      }
    }
  }

  &__item-label {
    color: #ffffff;
    margin-right: 5px;
  }
}
