<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      IMDB Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home__container">
    <ion-button class="home__pages-link"
                routerLink="/top-movies"
                routerDirection="forward">
      Top 20 Movies
    </ion-button>
    <ion-button class="home__pages-link"
                routerLink="/movies-chart"
                routerDirection="forward">
      Movies Chart
    </ion-button>
    <ion-button class="home__pages-link"
                routerLink="/favorite"
                routerDirection="forward">
      My Favorite Movies
    </ion-button>
  </div>
</ion-content>
